<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Categories</title>
</head>
<body>
    <header>
        <nav>
            <ul>
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'home' %}">Receipt List</a>
                </li>
                <li>
                    <a href="{% url 'account_list' %}">Account List</a>
                </li>
                <li>
                    <a href="{% url 'create_category' %}">Create Category</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'signup' %}">Signup</a>
                </li>
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
            {% endif %}
                
            </ul>
        </nav>
    </header>
    <h1>Categories</h1>
    <table>
        <thead>
            <th>Name</th>
            <th>Number of Reciepts</th>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{category.name}}</td>
                    <td>{{category.receipts.all|length}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    

    
</body>
</html>